@import "bootstrap/scss/bootstrap";


body{ 
    background-color: #e9f0f8
}
.header{
    background-color: #F6F5F2
}

.profile-img img{
  width: 75%;
  height: auto;
  border-radius: 25px;
}

.capture-img img{
  width: 100%;
  height: auto;
}